extends ../layout

block content
    h2.m-4 Clientes: 
    table.table
        tr
            th Nombre
            th Apellido
            th Edad
            th Localizacion
        tr
            td Carlos
            td Poison
            td 31
            td Madrid
        tr
            td Pedro
            td Garcia
            td 34
            td Andalucia
        tr
            td Marta
            td Pérez
            td 39
            td Galicia
