extends ../layout

block content
    h2.m-4 New:

    form.form(method="POST", action="/client/create")
    .form-group
        label Nombre
        input.form-control(type="text", name="nombre")
    .form-group
        label Apellido
        input.form-control(type="text", name="apellido")
    .form-group
        label Edad
        input.form-control(type="text", name="edad")
    .form-group
        label Localizacion
        input.form-control(type="text", name="localizacion")
    
    button.btn.btn-primary.btn-block(type="submit") Crear